<!DOCTYPE html>
<html>
  <head>
    <%- include head %>
    <title><%= title %></title>
  </head>
  <body>
    <div class="head">
    <div id="Nav_head"></div>
    </div>

    <div class="content">
      <div id="react-root">
      </div>
    </div>

    <div class="foot">
      <div class="">
      <img src="/images/logo.png" height="50" alt="">
      </div>
    </div>
    <script></script>
      <script type="text/javascript" src="/js/nav_head.js"></script>
    <script type="text/javascript" src="/js/vender.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
  </html>
