<!DOCTYPE html>
<html>
  <head>
    <%- include head %>
    <title><%= title %></title>
  </head>
  <body>
    <div class="head">

    </div>

    <div class="content">
      <div id="react-root">
aa
      </div>
    </div>

    <div class="foot">
      <div class="">

      </div>
    </div>
    <script type="text/javascript" src="/js/vender.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
  </html>
